{% extends "base.html" %}
{% block body %}
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/static/img/cat2.svg" height="40">
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item
                           {% if page == "file_management" %}
                               active
                           {% endif %}
                           ">
                    <a class="nav-link" href="/file_management">Manage Files</a>
                </li>
                <li class="nav-item
                           {% if page == "error_analysis" %}
                               active
                           {% endif %}
                           ">
                    <a class="nav-link" href="/error_analysis">Error Analysis</a>
                </li>
                <li class="nav-item
                           {% if page == "usage_analysis" %}
                               active
                           {% endif %}
                           ">
                    <a class="nav-link" href="/usage_analysis">Usage Analysis</a>
                </li>
            </ul>
            <span class="mr-4">Welcome back, {{ email }}</span>
            <a href="/logout">Log out</a>
        </div>
    </nav>
    <div class="container">
        <main class="py-5">
            {% block body2 %}{% endblock %}
        </main>
    </div>
    {% block scripts %}{% endblock %}
{% endblock %}
